{% if report.account_table %}
<table id="table_account" class="table">
    <thead>
    <tr class="tabletitle">
	<th align="center">{{ report.account_table.0.1 }}</th>
	<th align="center">{{ report.account_table.0.2 }}</th>
	<th align="center">{{ report.account_table.0.3 }}</th>
	<th align="center">{{ report.account_table.0.4 }}</th>
	<th align="center">{{ report.account_table.0.5 }}</th>
	<th align="center">{{ report.account_table.0.6 }}</th>
	<th align="center">{{ report.account_table.0.7 }}</th>
    </tr>
    </thead>
    <tbody>
{% for item in report.account_table %}
    {% if forloop.first %}
    {% else %}    
	<tr{% if item.0 %} class="tabletotal" {% endif %}>
	    <td align="left">{% if item.9 %}<img src="file://{{ item.9 }}" title="{{ item.8 }}" style="vertical-align:middle;width: 20px; height: auto;" />{% endif %}{% if item.0 %}<b>{% else %}<a href="skg://Skrooge_operation_plugin/?account={{ item.1|encode }}">{% endif %}{{ item.1 }}{% if item.0 %}</b>{% else %}</a>{% endif %}</td>
	    <td align="right">{% if item.0 %}<b>{% endif %}{{ item.2|money|safe }}{% if item.0 %}</b>{% endif %}</td>
	    <td align="right">{% if item.0 %}<b>{% endif %}{{ item.3|money|safe }}{% if item.0 %}</b>{% endif %}</td>
	    <td align="right">{% if item.0 %}<b>{% endif %}{{ item.4|percent|safe }}{% if item.0 %}</b>{% endif %}</td>
	    <td align="right">{% if item.0 %}<b>{% endif %}{{ item.5|money|safe }}{% if item.0 %}</b>{% endif %}</td>
	    <td align="right">{% if item.0 %}<b>{% endif %}{{ item.6|money|safe }}{% if item.0 %}</b>{% endif %}</td>
	    <td align="right">{% if item.0 %}<b>{% endif %}{{ item.7|percent|safe }}{% if item.0 %}</b>{% endif %}</td>
	</tr>
    {% endif %}        
{% endfor %}  
    </tbody>
</table>   
{% endif %}   